.upgrade {
  border-bottom: 1px solid white;
  padding: 1.25rem;
}

/* .upgrade p {
  text-align: left;
} */

.button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

@media (min-width: 550px) {
  .upgrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
